version: "3.9"

services:
  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    env_file:
      - .env
    environment:
      # S'assure que le backend écoute sur toutes les interfaces dans le conteneur
      - PORT=3001
      # URL utilisée par le CORS backend
      - FRONTEND_URL=http://localhost:3000
    ports:
      - "3001:3001"
    depends_on: []

  frontend:
    build:
      context: .
      dockerfile: frontend/Dockerfile
    environment:
      # URL du backend vue depuis le navigateur
      - NEXT_PUBLIC_API_URL=http://localhost:3001/api/v1
    ports:
      - "3000:3000"
    depends_on:
      - backend

